

.App {
  text-align: center;
  line-height: 2;
  position: relative;

}
nav{

display: inline-block;
  z-index:2;
  position:relative;
  text-decoration: none;
  top:100%;
}
.title{
  float:left;
  z-index:2;
  position: inherit;



height:31px;

}
.background{
  background:rgb(236, 236, 236);

}
.landing-background{
  background-image: linear-gradient(
    to right, rgba(131,27,135,1)
    0%,rgba(125,183,231,0) 99%,
    rgba(125,185,232,0)),
    url('./artist-band-bass-92080.jpg');
    width: 100%;
    height: 650px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:  scroll;
    background-size: cover;



    z-index:1;
    position:relative;


  }
  .hero-title{

    position:absolute;
    left:50%;
    top:45%;
    transform: translate(-50%, -50%);
  }
  .mainTitle{
    font-size: 40px;
    font-weight:200;
    letter-spacing: 15px;
    color:white;
    animation-name: moveInLeft;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
  }

  @keyframes moveInLeft {
    0%{
      opacity: 0;
      transform:translateY(150px)
    }
    80%{
      opacity: 1;
      transform:translateY(-25px);
    }
    100%{opacity:1;
      transform:translateX(0)}

    }
    .point{

      color:rgb(46, 46, 46);
      size:cover;
      padding:15px;
      text-align: center;
      font-weight:200;
      font-stretch:  extra-condensed;
    }
    .icon-size{
      font-size:60px;
      margin-top:30px;
      color: rgb(240, 40, 86)

    }
    .nav-btn{
      display: inline-block;
      background-color: rgb(240, 40, 86);
      color:white;
      padding:10px 30px ;
      border-radius:100px;
      position: relative;
      margin: 10px 10px;
      transition: all .2s;


    }
    .nav-btn:hover{
      transform: translateY(-3px);
      box-shadow:0 10px 20px rgba(0, 0, 0, 0.19);
    }
    .nav-btn:active{
      transform: translateY(-1px);
      box-shadow:0 10px 20px rgba(0, 0, 0, 0.19);
    }
    .albumCover{
      height:200px;
      width:200px;
      position:relative;
      margin-top:20px;
      transition: all .2s;
      border-radius: 7px;

    }
    .albumCover:hover{
      transform: translateY(-5px);
      box-shadow:0 10px 20px rgba(0, 0, 0, 0.19);
    }
    .albumCover:active{
      transform: translateY(-2px);
      box-shadow:0 10px 20px rgba(0, 0, 0, 0.19);

    }

    .albums{



      text-align: center;
      position:relative;
      padding:12px;
      display:inline-block;
      line-height: 24px;
      color:rgb(70, 70, 70);
      text-align: left;
      text-decoration: none;
    }
    .album-title{
      font-size:20px;
      font-weight: 500;
    }

    .library{
      display:inline-block;
    }
    #album-cover-art{
      size:cover;
      height:auto;
      width: 100%;


    }
    .album{
      background-image: url('./blur_bg_3.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }
    .albums-details{

      line-height:0.5;
      color:white;
      margin-bottom:25px;
    }

    .seekbar-container, .volume-container {
      width: 100%;
      float:left;
    }
    #play-pause{
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 40px;
      margin:10px;
      color:rgb(240, 40, 86);
      margin:40px;
    }
    #previous{
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 30px;

      color:rgb(233, 233, 233)
    }
    #next{
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 30px;

      color:rgb(233, 233, 233)
    }
    .seek-bar,.volume-bar {
      -webkit-appearance: none;
      appearance: none;
      width: 99%;
      height: 2px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }


    .seek-bar:hover, .volume-bar:hover {
      opacity: 1;

    }

    .seek-bar::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 2px;
      background: rgb(240, 40, 86);
      cursor: pointer;}

      .volume-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 8px;
        background: rgb(240, 40, 86);
        cursor: pointer;}

        .seek-bar::-webkit-slider-thumb:hover,.volume-bar::-webkit-slider-thumb:hover{
          height: 20px
        }

        .ion-volume-low{
      float:left;
      margin:5px;
      color:rgb(240, 40, 86)
        }
        .ion-volume-high{
        float:right;
        margin:5px;
          color:rgb(240, 40, 86)
        }
        .current-time{
          float:left;
          margin-left: 5px;
          color:white;


        }
        .total-time{
          float:right;
          margin-right: 5px;
          display: inline-grid;
          color:white;


        }
        table{

          width: 100%;
          text-align: left;
          background-color: white;
          opacity: 0.25;


        }
         tr,td {
  border-bottom: 1px solid #ddd;
  border-width: 1px;
  border-spacing: inherit;


}
        @media(min-width:700px)  {
          .App{
            padding:1.4%;
          }
          .title{
            float:left;
            z-index:2;
            position:relative;
            top:100%;
            padding:15px;


          }
          .landing-background{

              background-attachment: fixed;
              background-size: cover;
         clip-path:polygon(0 0, 100% 0, 100% 90vh,0 100%);

           }
           nav{

        float: right;
             z-index:2;
             position:relative;
             text-decoration: none;
             top:100%;
           }
          .point{
            display:inline-grid;
            width:25.2%;
          }


          .albums{
            margin-top:200px;
          }


          #album-info{
            size:auto;
            margin-left:auto;
             margin-right:auto;

            margin-top:auto;



       }
       #album-cover-art{
         height:auto;
         width:auto;
         margin-left:150px;
         margin-top:20px;

       }

       table{

         width: 80%;
         margin-left:auto;
          margin-right:auto;
         border-radius:5px;;
         margin-top:10px;
         


       }
        }
