.App {


text-align: center;

color:white;
padding-right:30px;
padding-left: 30px;
}
.background{
  background-image:url('./assets/images/blurred_backgrounds/blur_bg_3.jpg');
  background-size: cover;
}
.landing-background{
  background: #fcecfc;
  background: -moz-linear-gradient(-45deg, #fcecfc 0%, #9ec2ed 26%, #fd89d7 78%, #f77996 99%);
  background: -webkit-linear-gradient(-45deg, #fcecfc 0%,#9ec2ed 26%,#fd89d7 78%,#f77996 99%);
  background: linear-gradient(135deg, #fcecfc 0%,#9ec2ed 26%,#fd89d7 78%,#f77996 99%);
  height: 500px;
  width: cover;

}
.hero-title{

  font-size: 40px;
  font-weight:200;
  letter-spacing: 15px;
  color:white;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);

}
.point{
  display:inline-grid;
  width:33.2%;
  font-weight:100;
  letter-spacing: 5px;
  color:white;
  font-size: 12px



}
.icon-size{
  font-size:60px;
  margin-top:90px;
}
.title{
float:left

}
